    <div class="tabless">
      <div style="position: relative; left: 0px; top: 0px;" class="standalone" id="standalone">
			
			<h3>You have already Compelted the Examination </h3>
			<hr>
			<h3>Total Questions in Examination&nbsp;: <%= @exam_results.no_of_questions %> </h3>
			<h3>Total Questions Answered&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= @exam_results.questions_answered %> </h3>
			<h3>Total Questions Not Answered&nbsp;&nbsp;&nbsp;: <%=@exam_results.no_of_questions -  @exam_results.questions_answered %> </h3>
      </div>
    </div>

