<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>LSSSP</title>
        <%= javascript_include_tag 'application','jquery-1.5.2.min','rails' %>
        <%= stylesheet_link_tag 'admin_screen' %>
        <%= csrf_meta_tag %>
  </head>
  
  <body>
    <div id="header">
      <%=link_to image_tag("adminlogo.png"),root_url %>
    </div>
    <div class="tabless">
      <div style="position: relative; left: 0px; top: 0px;" class="standalone" id="standalone">

	<h3> Thank You for Registring LSSSP. An mail is sent to your Email id your login Details.Click here to go <a href="http://lsssp.org/login">Home</a></h3>
      </div>
    </div>
    <center>
      <div id="footer">
               © 2011. The Site is compatible with Mozilla version 3 and above, Google Chrome and IE Version 9.
      </div>

    </center>
 </body>
 </html>

