    <div class="tabless">
      <div style="position: relative; left: 0px; top: 0px;" class="standalone" id="standalone">
			
			<h3> Thank You for Giving Examination.</h3>
			<hr>
			<h3>Total Questions in Examination&nbsp;: <%= @total_questions %> </h3>
			<h3>Total Questions Answered&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= @total_answered %> </h3>
			<h3>Total Questions Not Answered&nbsp;&nbsp;&nbsp;: <%= @total_notanswer%> </h3>
      </div>
    </div>

