<!DOCTYPE html>
<html>
    <head>
        <title>LSSSP</title>
        <%= javascript_include_tag 'application','jquery-1.5.2.min','rails' %>
        <%= stylesheet_link_tag 'admin_screen' %>
        <%= csrf_meta_tag %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
